.App {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #5f5f5f;
}
.App canvas{
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}
.App canvas.qipan{
  margin-top: 50px;
}
.App canvas:hover{
  cursor: pointer;
}
.App .qipanContent{
  position: relative;
  width: 100%;
}
.App .qipanContent .qizi{
  margin-top: 50px;
}
.App .qipanContent .huiqi{
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
}
.qipanContent .huiqi > span{
  display: inline-block;
  width: 400px;
}
.qipanContent .huiqi > button{
  display: inline-block;
  width: 80px;
  height: 30px;
}